<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edubin - LMS Education HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/eventdetails/bootstrap.min.css">
    <link rel="stylesheet" href="/eventdetails/font-awesome.min.css">
    <link rel="stylesheet" href="/eventdetails/default.css">
    <link rel="stylesheet" href="/eventdetails/style.css">
    <link rel="stylesheet" href="/eventdetails/responsive.css">
    <link href="/Image enlarge/magicthumb-trial/magicthumb/magicthumb.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <div class="page-banner ovbl-dark" style="background-image:url(../Studtemplate/assets/images/banner/banner3.jpg);">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">EVENTS</h1>
            </div>
        </div>
    </div>
    <section id="event-singel" class="pt-120 pb-120 gray-bg">
        <div class="container">
            <div class="events-area">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="events-left">
                            <h3>{{event.Name}}</h3>
                            <a><img style="margin-top: -4px;" src="/Template/icons/themify-icons/SVG/calendar2.svg"
                                    alt=""> <span> {{event.Date}}</span></a>

                            <center><a href="{{pathimg}}" class="MagicThumb"
                                    data-options="expandEasing:cubic-bezier(.09,.63,0,.99);"><img
                                        src="{{pathimg}}" /></a></center>
                            <center><a href="{{event.im}}" class="MagicThumb"
                                    data-options="expandEasing:cubic-bezier(.09,.63,0,.99);"><img src="{{event.im}}"
                                        id="img" /></a></center>
                            <center class="mt-5"><a href="/Events/video/{{event._id}}.mp4" data-options="hint:always;"
                                    class="MagicThumb"></a></center>
                            <center> <a href="/Events/pdf/{{event._id}}.pdf "><img
                                        style="height: 100px; width: auto; margin-top: 10px;" src="{{pathpdf}}" alt=""
                                        width="104" height="142"><br></a></center>
                            <p>{{event.Topic}}</p>
                        </div> <!-- events left -->
                    </div>
                    <div class="mt-5 col-lg-4">
                        <div class="events-right">
                            <div class="events-address mt-30">
                                <ul>
                                    <li>

                                    </li>
                                    <li>
                                        <div class="singel-address">
                                            <div class="icon">
                                                <img style="margin-top: -4px;"
                                                    src="/Template/icons/themify-icons/SVG/user.svg" alt="">
                                            </div>
                                            <div class="cont">
                                                <h6>Speaker</h6>
                                                <span>{{event.Person}}</span>
                                            </div>
                                        </div> <!-- singel address -->
                                    </li>
                                </ul>
                            </div> <!-- events address -->
                        </div> <!-- events right -->
                    </div>
                </div> <!-- row -->
            </div> <!-- events-area -->
        </div> <!-- container -->
    </section>
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

</body>
<script type="text/javascript" src="/Image enlarge/magicthumb-trial/magicthumb/magicthumb.js"></script>