<!-- Mirrored from www.multipurposethemes.com/admin/eduadmin-template/front-end/mydashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Nov 2020 08:29:37 GMT -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="https://www.multipurposethemes.com/admin/eduadmin-template/images/favicon.ico">


	<!-- Vendors Style-->
	<link rel="stylesheet" href="../Template/css/vendors_css.css">

	<!-- Style-->
	<link rel="stylesheet" href="../Template/css/style.css">

</head>

<body class="theme-primary">
	<div class="page-banner ovbl-dark" style="background-image:url(../Studtemplate/assets/images/banner/banner3.jpg);">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white">PROFILE</h1>
			</div>
		</div>
	</div>

	<section class="py-50">
		<div class="container">
			<div class="row">
				<div style="margin-top: 12px;" class="col-lg-3 col-md-4 col-12">

					<div class="position-sticky t-100">
						<div class="box box-widget widget-user-2">
							<div class="widget-user-header bg-secondary-light">
								<div class="widget-user-image">
									<img class="bg-danger" src="../student-images/{{studentDetails._id}}.jpg"
										alt="Profile Photo">
								</div>
								<h3 class="widget-user-username">{{studentDetails.Name}}</h3>
								<h6 class="widget-user-desc">STUDENT</h6>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-9 col-md-8 mt-3 col-12">
					<div class="box">
						<div class="box-body">
							<div class="tab-content" id="pills-tabContent23">
								<div class="tab-pane fade show active" id="profile-view" role="tabpanel"
									aria-labelledby="pills-edit-tab">
									<div class="row">
										<div class="col-12">
											<form class="form">
												<div>
													<h4 class="box-title text-primary"><i
															class="ti-user mr-15"></i>Profile</h4>
													<hr class="my-15">
													<div class="row">
														<div class="col-md-12">

															<div class="form-group">
																<label>Name</label>
																<input type="text" class="form-control"
																	placeholder="No Name Provided"
																	value="{{studentDetails.Name}}" disabled>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label>Gender</label>
																<input type="text" class="form-control"
																	placeholder="No Gender Provided" disabled
																	value="{{studentDetails.Gender}}">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label>Roll No</label>
																<input type="number" class="form-control"
																	placeholder="No Roll No Provided" disabled
																	value="{{studentDetails.Rollno}}">
															</div>
														</div>
													</div>
													<div class="form-group">
														<label>Phone No</label>
														<input class="form-control" type="tel"
															placeholder="No Phone number Provided" disabled
															value="{{studentDetails.Phone}}">
													</div>
													<div class="form-group">
														<label>Address</label>
														<input class="form-control" type="text"
															placeholder="No Address Provided" disabled
															value="{{studentDetails.Address}}">
													</div>
													<div class="form-group">
														<label>Email</label>
														<input class="form-control" type="text"
															placeholder="No email Provided" disabled
															value="{{studentDetails.Email}}">
													</div>


													<hr class="my-15">
												</div>
											</form>
										</div>
									</div>
								</div>




							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- BEGIN MODAL -->
	<!-- Modal Add Category -->

	<!-- END MODAL -->

	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>


	<script>
		function viewImage(event) {
			document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
		}
	</script>

	<!-- Vendor JS -->
	<script src="../Template/js/vendors.min.js"></script>
	<!-- Corenav Master JavaScript -->
	<script src="../Template/corenav-master/coreNavigation-1.1.3.js"></script>
	<script src="../Template//vendor_components/jquery-ui/jquery-ui.min.js"></script>

	<!-- EduAdmin front end -->



</body>